<!DOCTYPE html>
<html lang="ja">
<head>
  <title>ブカツ！</title>
  <meta charset="UTF-8">
   <script src="/chat.js" type="text/javascript"></script>
   <link rel="stylesheet" type="text/css" href="style.css">
   <link rel="shortcut icon" href="favicon.ico">
</head>
<body>
<nav>
  	<a href="/"><img class="head" src="img/head.png"></a>
  </nav>
  <%=yield%>
</body>
</html>