<h1>ログイン</h1>
<form action="/sign_in" method="POST">
	<input type="email" name="email" placeholder="メールアドレス">
	<input type="password" name="password" placeholder="パスワード">
	<input type="submit" value="ログイン">
</form>

<h2>新規ユーザーですか？</h2>
<a href="/sign_up">新規登録</a>