*{
  margin: 0;
  padding: 0;
  font-family: 'TsukuARdGothic-Regular',sans-serif;
}


.top{
  background-image: url("img/bg.png");
  background-size: cover;
  width: 100vw;
  height: 180vh;
  color: #444a54;
}

.top img{
  margin: 0 auto;
  width: 20vw;
  height: auto;
  display: block;
  padding-top: 30vh;
}

.top h2{
  color: #444a54;
  text-align: center;
  padding: 10vh;
}
.top p{
  text-align: center;
  line-height: 3em;
}

.sign_up{
  text-align: center;
  padding-top: 10vh;
}

.sign_up h1{
  text-decoration: underline solid #f7cd60;
  padding-bottom: 15vw;
}

.sign_up input{
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
}

.img_file input{
  display: none;
}

.img_file{
  width: 30vw;
    background-image: url("img/top.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 30vw;
    overflow: hidden;
    padding: 8vw;
    margin-bottom: 5vw;
}

input{
  margin-top: 3vw;
}

form{
  margin-bottom: 10vw;
}

.bukatsu_show{
  text-align: center;
}

.bukatsu_show h1{
  text-decoration: underline solid #f7cd60;
  padding-bottom: 5vw;
}

.bukatsu_show form{
  width: 70vw;
  margin: 0 auto;
}

.bukatsu_show p{
    width: 10vw;
    display: inline-block;
    border: dotted 2px #f7cd60;
    padding: 1vw 2vw 3vw 2vw;
    margin: 3vw;
}

.bukatsu_show .submit{
  display: block;
  width: 30vw;
  height: 5vw;
  background-color: #fff;
  border: solid 5px #f7cd60;
  border-radius: 10px;
  font-size: 2vw;
  color: #f7cd60;
  text-align: center;
  margin: 5vw auto;
}

.main h1{
  text-decoration: underline solid #f7cd60;
  padding-bottom: 5vw;
  text-align: center;
}

.main .product{
      width: 15vw;
    height: 20vw;
    display: inline-block;
    padding: 2vw;
    border: dotted 2px #f7cd60;
    margin: 3vw;
}

.main .products{
  width: 80vw;
  margin: 0 auto;
}

.main .product_name{
  font-size: 1.5vw;
  text-align: center;
  text-decoration: underline solid #f7cd60;
}

.main .team_name{
  font-size: 0.6vw;
  text-align: center;
  padding-top: 1vw;
  color: #d0d0d0;
}

.main .product_link{
  display: block;
  width: 10vw;
  background-color: #fff;
  border: solid 2px #f7cd60;
  border-radius: 10px;
  font-size: 1vw;
  color: #f7cd60;
  text-align: center;
  margin: 1vw auto;
  text-decoration: none;
}

.main img{
      margin: 0 auto;
    text-align: center;
    display: block;
}

.main .like{

}
.main .make{
  display: block;
  width: 30vw;
  height: 5vw;
  background-color: #fff;
  border: solid 5px #f7cd60;
  border-radius: 10px;
  font-size: 2vw;
  color: #f7cd60;
  text-align: center;
  margin: 5vw auto;
  text-decoration: none;
  padding-top: 2vw;
}

nav .head{
  width: 100vw;
  padding-top: 3vh;
}

nav{
  background-color: #f7cd60;
  height: 10vh;
}